<html lang="en">

<head>
    <title>The server test</title>
</head>

<body>
    <h1>Testing the <%=serverName%> server</h1>
    <h2>Welcome to the EJS homepage. Nodemon is watching</h2>
</body>
<script>
    // Pass raw JSON data from EJS
    const bookData = JSON.parse(<%- JSON.stringify(bookData) %>);

    // Properly format and display in <pre>
    document.body.innerHTML += `<pre>${JSON.stringify(bookData, null, 2)}</pre>`;
</script>

</html>